body{
  background-color: rgb(35, 39, 39);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(/img/404.png);
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;

}


