/* fondo formularios */

.fondoForm{
  background-image: url("/img/clinic.png");
  background-repeat: no-repeat;
}

/* Estilos para el index*/

.header{
  background-image: url("/img/clinicfondo.png");
  height: 77vh;
}

.imgLogo{
  width: 120px;
}

.card-items:hover{
  cursor: pointer;
  opacity: 85%;
}
.card-items:nth-child(3n+1){
  background-color: #0178B0;
}
.card-items:nth-child(3n+2){
  background-color: #019BE3;
}
.card-items:nth-child(3n+3){
  background-color: #03B495;
}
@media (min-width: 0px){
  .card-container{
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(6,12vh);
    grid-gap: 10px;
  }
  
  .card-items{
    display: grid;
    place-content: start;
  }
}


@media (min-width: 570px){
  .card-container{
    display: grid;
    grid-template-columns: repeat(2,49%);
    grid-template-rows: repeat(3,20vh);
    grid-gap: 10px;
  }
  
  .card-items{
    display: grid;
    place-content:center;
  }
}

@media (min-width: 768px){
  .card-container{
    display: grid;
    grid-template-columns: repeat(3, 32.5%);
    grid-template-rows: repeat(2,20vh);
    grid-gap: 10px;
  }
  
  .card-items{
    display: grid;
    place-content: center;
  }
}

@media (min-width: 1200px){
  .card-container{
    display: grid;
    grid-template-columns: repeat(6, 16%);
    grid-template-rows: repeat(1,20vh);
    grid-gap: 10px;
  }
  
  .card-items{
    display: grid;
    place-content: center;
  }
}


.span-14{
  background-color: #0178B0;
}

.span-25{
  background-color: #019BE3;
}

.span-36{
  background-color: #03B495;
}



/* cartilla */

.header-cartilla{
  background-image: url("/img/clinicfondo.png");

}

/* Quienes somos */

body{
  font-family: 'Roboto', sans-serif;
}

#contenedor{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("/img/clinic.png");
  background-repeat: repeat;
}

#titulo{
  text-align: center;
  padding: 10px;
  font-size: 70px;
}

#descripcion{
  text-align: center;
  padding: 5px 25px;
  font-size: 25px;
}

.cardsection{
  width: 100%;
  display: flex;
  gap: 200px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.card__perfil{
  width: 320px;
  padding: 20px;
  box-shadow: 1px 1px grey;
  border: solid rgb(229, 229, 236) 2px;
}

.card__perfil:hover{
  border: solid #0178B0 2px;
} 

.card__perfil:hover .imagen{
  transform: rotate(0);
}

.imagen{
  width: 140px;
  border-radius: 70px;
  box-shadow: 2px 2px 5px black;
  transform: rotate(-10deg);
  transition: all .3s;
}

.card__nombre{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

hr{
  width: 100%;
  background-color: grey;
  margin: 20px 5px;
}


